.plans {
  background-color: var(--secondary-background-color);
}
.plans .plans-content .main-btn.monthly {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.plans .plans-content .main-btn.monthly:hover {
  color: white;
}
.plans .plans-content .main-btn.monthly:hover::after {
  background-color: var(--blue-color);
}
.plans .plans-box h3 {
  color: var(--blue-color);
}
.plans .plans-box h2 {
  color: var(--green-color);
}
.plans .plans-box:hover h2 {
  animation: plansBox 0.5s infinite;
}
@keyframes plansBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.05);
  }
}
.plans .plans-box h5 {
  color: var(--blue-color);
}
.plans .plans-box .plan-features li {
  color: var(--grey-color);
}
.plans .plans-box .plan-features i {
  color: var(--yellow-color);
}
.plans .plans-box .main-btn {
  color: var(--green-color);
  border-color: var(--green-color);
}
.plans .plans-box .main-btn:hover {
  color: white;
}
.plans .plans-box .main-btn:hover::after {
  background-color: var(--green-color);
}
