.sub-nav,
.navbar {
  background-color: var(--blue-color);
}
.sub-nav {
  border-bottom: 1px solid var(--green-color);
}
.sub-nav .open-time {
  color: white;
}
.sub-nav .open-time span {
  color: var(--green-color);
}
.navbar.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 2px var(--green-color);
  z-index: 1000;
}
.navbar .navbar-brand img {
  width: 50px;
}
.navbar .navbar-brand {
  color: white;
  transition: var(--main-transition);
}
.navbar .navbar-brand:hover {
  color: var(--green-color);
}
.navbar .nav-item .nav-link {
  color: white;
  transition: var(--main-transition);
  font-weight: bold;
}
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  transition: var(--main-transition);
  border: 1px solid white;
}
.navbar-collapse {
  transition: var(--main-transition);
}
.navbar .hire-us .main-btn {
  background-color: transparent;
  border: 1px solid var(--yellow-color);
}
